/* Estilo general para centrar la página */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo general para el contenedor del login */
.login-container {
  width: 400px;
  max-width: auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(3, 3, 3, 0.336);
  text-align: center;
}

/* Estilo para el encabezado */
.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Estilo para las etiquetas de los inputs */
.login-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: left;
}

/* Estilo para los inputs */
.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 50px;
  box-sizing: border-box;
}

/* Estilo para el botón de inicio de sesión */
.login-container button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #00e444;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button[type="submit"]:hover {
  background-color: #00e444;
}

/* Estilo para el modal de errores y mensajes */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: center;
}

.modal-content p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #00ff6a;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #00e444;
}
