/* Estilo para el contenedor del logo */
.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: -30px;
}

.logo-container img {
  width: 300px; /* Ajusta el tamaño del logo según sea necesario */
  height: auto;
}

/* Estilo general para centrar la página */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
}

/* Estilo general para el contenedor del login */
.login-container {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: #a1e7ded5;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Estilo para el encabezado */
.login-container h2 {
  margin-bottom: 50px;
  font-size: 38px;
  color: #333;
  font-weight: 700;
}

/* Estilo para las etiquetas de los inputs */
.login-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
  color: #555;
}

/* Estilo para los inputs */
.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 14px;
  transition: border-color 0.3s;
}

.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
  border-color: #0072e4;
  outline: none;
}

/* Estilo para el botón de inicio de sesión */
.login-container button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #05616fee;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.login-container button[type="submit"]:hover {
  background-color: #004757;
}

/* Estilo para el modal de errores y mensajes */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  text-align: center;
}

.modal-content p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #00ff6a;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #00b33c;
}
